<div class=" d-flex justify-content-center" *ngIf="isLoading">
  <svg width="100px" height="100px"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" 
    style="background: none;">
    <circle cx="75" cy="50" fill="#363a3c" r="6.39718">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.875s"></animate>
    </circle>
    <circle cx="67.678" cy="67.678" fill="#363a3c" r="4.8">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.75s"></animate>
    </circle>
    <circle cx="50" cy="75" fill="#363a3c" r="4.8">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.625s"></animate>
    </circle>
    <circle cx="32.322" cy="67.678" fill="#363a3c" r="4.8">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.5s"></animate>
    </circle>
    <circle cx="25" cy="50" fill="#363a3c" r="4.8">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.375s"></animate>
    </circle>
    <circle cx="32.322" cy="32.322" fill="#363a3c" r="4.80282">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.25s"></animate>
    </circle>
    <circle cx="50" cy="25" fill="#363a3c" r="6.40282">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="-0.125s"></animate>
    </circle>
    <circle cx="67.678" cy="32.322" fill="#363a3c" r="7.99718">
        <animate attributeName="r" values="4.8;4.8;8;4.8;4.8" times="0;0.1;0.2;0.3;1" dur="1s" repeatCount="indefinite" begin="0s"></animate>
    </circle>
</svg>
</div>

<mat-toolbar *ngIf="!isLoading">

  <mat-toolbar-row fxLayout.xs="column" fxLayoutGap.xs="20px" [dir]="direction" class="toolbar">

    <section class="fontY">
      {{header}}
    </section>

    <section class="sec">

      <button class="add_btn" mat-button color="primary" (click)="onAddForm()" [disabled]="!screenRights.createFlag">
        <mat-icon>add</mat-icon>
      </button>
      <div *ngIf="pageData.sort === ''" class="chImg" (click)="onMySort()"><img class="sfimg"
          src="../../../../assets/images/svg/sort (3).png" alt=""></div>
      <div *ngIf="pageData.sort != ''" class="chImg" (click)="onClearSort()"><img class="sfimg"
          src="../../../../assets/images/svg/sort (2).png" alt=""></div>
      <div *ngIf="pageData.filter === ''" class="chImg" (click)="onMyFilter()"><img class="sfimg"
          src="../../../../assets/images/svg/filter-filled-tool-symbol.png" alt=""></div>
      <div *ngIf="pageData.filter != ''" class="chImg" (click)="onClearFilter()"><img class="sfimg"
          src="../../../../assets/images/svg/filter-filled-tool-symbol (2).png" alt=""></div>

      <!-- <button mat-button color="primary" (click)="openEntry()">Filter</button>
      <button mat-button color="primary" (click)="onSort()">Sort</button>
      <button mat-button color="primary" (click)="openEntry()" [disabled]="!screenRights.printFlag">Print</button>
      <button mat-button color="primary" (click)="refreshMe()">Refresh</button>

      <mat-form-field [ngStyle]="{'float':'right', 'margin-right':'60px'}">

        <input matInput (keyup)="applyFilter($event.target.value)">

        <mat-placeholder>

          <mat-icon>search</mat-icon>

        </mat-placeholder>

      </mat-form-field> -->

    </section>

  </mat-toolbar-row>

</mat-toolbar>

<!-- <Section [ngClass]="['custom-table-container']"> -->
<Section [dir]="direction" fxHide.xs class="toolSection" mat-elevation-z8 >

  <mat-table #table [dataSource]="dataSource" style="width: 100%" 
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)">
    <!-- Columns definition here to be displayed -->

    <ng-container matColumnDef="select">
      <mat-header-cell cdkDrag  class="cbPad" *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </mat-header-cell>
      <mat-cell class="cbPad" *matCellDef="let row; let i = index">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null; onId(i,row)"
          [checked]="selection.isSelected(row)">
        </mat-checkbox>

      </mat-cell>

    </ng-container>

    <!-- <ng-container matColumnDef="projTaskId">
      <mat-header-cell class="centH" *matHeaderCellDef>{{projTaskId}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.projTaskId}}</mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="Project">
      <mat-header-cell cdkDrag  class="centH" *matHeaderCellDef>{{Project}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.projectName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Task">
      <mat-header-cell cdkDrag  class="centH" *matHeaderCellDef>{{Task}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.taskName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell cdkDrag  class="centH" *matHeaderCellDef>{{Status}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.statusName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Comment">
      <mat-header-cell cdkDrag class="centH" *matHeaderCellDef>{{Comment}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row" >{{row.comment}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Assigned">
      <mat-header-cell cdkDrag  class="centH" *matHeaderCellDef>{{Assigned}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.dateAssign}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Due">
      <mat-header-cell cdkDrag class="centH" *matHeaderCellDef>{{Due}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.dueDate}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="To">
      <mat-header-cell cdkDrag class="centH" *matHeaderCellDef>{{To}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.assignedToName}}
      </mat-cell>
    </ng-container>

    <!-- <ng-container matColumnDef="To">
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <mat-form-field  appearance="fill">
          <mat-label>Project</mat-label>
          <mat-select formControlName="projectName">
            <mat-option *ngFor="let item of items" [value]="item.id">
              {{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="By">
      <mat-header-cell cdkDrag class="centH" *matHeaderCellDef>{{By}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.assignedByName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Phase">
      <mat-header-cell cdkDrag class="centH" *matHeaderCellDef>{{Phase}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.categoryName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Responsible">
      <mat-header-cell cdkDrag class="centH" *matHeaderCellDef>{{Responsible}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">{{row.responsibleName}}</mat-cell>
    </ng-container>

    <!-- edit Column -->
    <ng-container matColumnDef="edit">
      <mat-header-cell class="cent" *matHeaderCellDef>{{edit}}</mat-header-cell>
      <mat-cell class="cent" mat-cell *matCellDef="let row">
        <button mat-icon-button color="primary" (click)="onEdit(row.projTaskId)" [disabled]="!screenRights.editFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary"
          (click)="onDelete(row.projTaskId)" [disabled]="!screenRights.deleteFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="warn">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- view Column -->
    <ng-container matColumnDef="view">
      <mat-header-cell *matHeaderCellDef>View</mat-header-cell>
      <mat-cell mat-cell *matCellDef="let row"><button mat-icon-button color="primary" (click)="onView(row.projTaskId)"
          [disabled]="!screenRights.viewFlag">
          <mat-icon small class="mat-icon material-icons" role="img" aria-hidden="true" color="primary">visibility
          </mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    
    <mat-header-row class="headerRow" *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onEdit(row.projTaskId)" class="rowR"
      [class.active]="clickedRows.has(row)"></mat-row>

      <mat-row>
        
      </mat-row>
  </mat-table>
  
  <!-- ******************************** -->
  <div style="overflow-x: scroll;" *ngIf="isOpen">
    <form class="Main" [dir]="direction" >
      
        <mat-grid-list
          [cols]="11"
          rowHeight="105px"
          (window:resize)="onResize($event)">
          <div  *ngFor="let source of light">
            <div [ngSwitch]="source.type">
              <mat-grid-tile *ngSwitchCase="'Date'">
                <div [ngSwitch]="source.access">
                  <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                    <mat-label>{{ source.label }}</mat-label>
                    <input
                      matInput
                      [(ngModel)]="source.value"
                      name="{{ source.label }}"
                      type="date"
                      placeholder="Date"
                    />
  
  
                  </mat-form-field>
                  <div
                  *ngSwitchCase="'ViewOnly'"
                  fxLayout
                  fxLayoutGap="10px"
  
                  class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
  
                </div>
  
              </mat-grid-tile>
              <mat-grid-tile *ngSwitchCase="'Number'">
                <div [ngSwitch]="source.access">
                  <mat-form-field  *ngSwitchCase="'Editable'" appearance="outline">
                    <mat-label>{{ source.label }}</mat-label>
                    <input
                      matInput
                      [(ngModel)]="source.value"
                      name="{{ source.label }}"
                      type="textbox"
                      placeholder="Number"
                      appIsDecimalDirective
                    />
  
  
                  </mat-form-field>
  
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                </div>
              </mat-grid-tile>
  
              <mat-grid-tile *ngSwitchCase="'Text'">
                <div [ngSwitch]="source.access">
                  <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                    <mat-label>{{ source.label }}</mat-label>
                    <input
                      matInput
                      [(ngModel)]="source.value"
                      name="{{ source.label }}"
                      type="text"
  
                      placeholder="Type some text"
                    />
  
  
                  </mat-form-field>
  
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                </div>
              </mat-grid-tile>
  
              <mat-grid-tile *ngSwitchCase="'Checkbox'">
                <div [ngSwitch]="source.access">
                  <mat-checkbox
                  *ngSwitchCase="'Editable'"
                  [ngModel]="source.value == '1' ? true : source.value == '0' ? false : null"
                  (ngModelChange)="source.value = $event ? '1' : '0'"
  
  
                  name="{{ source.label }}"
                  >{{ source.label }}</mat-checkbox
                >
  
                <div
                  fxLayout
                  fxLayoutGap="10px"
                  *ngSwitchCase="'ViewOnly'"
                  class="radio"
                >
                  <h3>{{ source.label }}:</h3>
                  <h5>{{ source.value }}</h5>
                </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile *ngSwitchCase="'Time'">
                <div [ngSwitch]="source.access">
                  <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                    <input
                      [(ngModel)]="source.value"
                      name="{{ source.label }}"
                      matInput
                      type="time"
                      placeholder="start date"
                    />
                  </mat-form-field>
  
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile *ngSwitchCase="'TextArea'">
                <div [ngSwitch]="source.access">
                  <mat-form-field *ngSwitchCase="'Editable'" appearance="outline">
                    <mat-label>{{ source.label }}</mat-label>
                    <textarea
                      matInput
                      rows="2"
                      [(ngModel)]="source.value"
  
                      name="{{ source.label }}"
                      type="text"
                      placeholder="Type some text"
                    ></textarea>
  
  
                  </mat-form-field>
  
                  <div
                    fxLayout
                    fxLayoutGap="10px"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3>{{ source.label }}:</h3>
                    <h5>{{ source.value }}</h5>
                  </div>
                </div>
              </mat-grid-tile>
              <mat-grid-tile *ngSwitchCase="'dropdown'">
                <div [ngSwitch]="source.access">
                  <div *ngSwitchCase="'Editable'">
                    <div *ngIf="source.tableColumnId == 28">
                      <div fxLayout="column">
                        <mat-checkbox [(ngModel)]="checkParentAccountId" name="parent">is sub-account</mat-checkbox>
                      <mat-form-field *ngIf="checkParentAccountId"  appearance="fill">
                        <mat-label>{{ source.label }}</mat-label>
                        <mat-select
                          [(ngModel)]="+source.value"
                          name="{{ source.label }}"
                        >
                          <mat-option
                            *ngFor="let choice of source.myarray"
                            [value]="choice.id"
                          >
                            {{ choice.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      </div>
                    </div>
                    <div *ngIf="source.tableColumnId != 28">
                      <mat-form-field  appearance="fill">
                        <mat-label>{{ source.label }}</mat-label>
                        <mat-select
                          [(ngModel)]="+source.value"
                          name="{{ source.label }}"
                        >
                          <mat-option
                            *ngFor="let choice of source.myarray"
                            [value]="choice.id"
                          >
                            {{ choice.name }}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                      
                    </div>
                  </div>
  
                  <div
                    fxLayout="column"
                    *ngSwitchCase="'ViewOnly'"
                    class="radio"
                  >
                    <h3 style="margin: 0;">{{ source.label }}:</h3><br>
                    <h5 style="margin: 0;">{{ source.myarray2 }}</h5>
                  </div>
                </div>
              </mat-grid-tile>
  
  
                <div *ngIf="spacezone">
                  <mat-grid-tile *ngSwitchCase="'space'">
                    <div [ngSwitch]="source.access">
                      <div *ngSwitchCase="'Editable'" class="space"></div>
  
                    <div
                      fxLayout
                      fxLayoutGap="10px"
                      *ngSwitchCase="'ViewOnly'"
                      class="radio"
                    >
                      <h3>{{ source.label }}:</h3>
                      <h5>{{ source.value }}</h5>
                    </div>
                    </div>
                  </mat-grid-tile>
                </div>
  
            </div>
          </div>
        </mat-grid-list>
     
        
        
        <!-- <div class="btn-container">
          <button mat-raised-button color="primary" (click)="addChild1Item(0)" type="submit">Add</button>
        </div> -->
      </form>
      <div class="btn-container2">
        <!-- <h4>{{ subTotal }}</h4> -->
        <!-- <button class="BtnC" (click)="onCancel()" mat-button color="warn" type="submit">{{cancel}}</button> -->
        <button *ngIf="isOpen" class="BtnS" (click)="onSubmit()" mat-button color="primary" type="submit">{{submit}}</button>
        <!-- <h4>{{ total }}</h4> -->
      </div>
  </div>

  <!-- ********************** -->
  <div>
    <!-- <input type="text" placeholder="+ New" class="form-control" (click)="showForm()" *ngIf="!isShown"/> -->
    <form [formGroup]="taskFormGroup" class="row d-flex m-0" *ngIf="isShown" >
      <!-- <input type="text" placeholder="+ New" class="controls col-lg-2"/> -->
      
      <mat-form-field  appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select formControlName="projectName">
          <mat-option *ngFor="let item of items" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      
      <input type="text"  class="controls col-lg-1" formControlName="taskName" />
      <!-- <input type="text"  class="controls col-lg-1 "/> -->
      <mat-form-field  appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusName">
          <mat-option *ngFor="let item of status" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input type="text"  class="controls col-lg-1" formControlName="comment" />
      <input type="date" class="controls col-lg-1" formControlName="dateAssign" />
      <input type="date" class="controls col-lg-1" formControlName="dueDate"/>
      <!-- <input type="text" class="controls col-lg-1" formControlName="assignedToName" /> -->
      <mat-form-field  appearance="fill">
        <mat-label>Assigned to</mat-label>
        <mat-select formControlName="assignedToName">
          <mat-option *ngFor="let item of assignedTo" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input type="text" class="controls col-lg-1" formControlName="assignedByName" />
      <!-- <input type="text" class="controls col-lg-1" formControlName="categoryName" /> -->
      <mat-form-field  appearance="fill">
        <mat-label>Phase</mat-label>
        <mat-select formControlName="categoryName">
          <mat-option *ngFor="let item of phase" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- <input type="text" class="controls col-lg-1" formControlName="responsibleName" /> -->
      <mat-form-field  appearance="fill">
        <mat-label>Responsible</mat-label>
        <mat-select formControlName="responsibleName">
          <mat-option *ngFor="let item of responsible" [value]="item.id">
            {{ item.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button class="btn btn-primary" (click)="onSubmit()">Save</button>
    </form>
  </div>
</Section>


<section [dir]="direction" class="cards_section" fxHide.gt-xs>
  <div *ngFor="let index of indexes">
    <mat-card fxLayout class="card">
      <div>
        <div fxLayoutGap="5px" class="index_row">
          <h3>{{projTaskId}}</h3>
          <h3>:</h3>
          <h3 class="indexContent">{{ index.projTaskId }}</h3>
        </div>
      </div>
      <div>
        <button class="Btn" mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="onEdit(index.projTaskId)" class="Btn" mat-menu-item>{{edit}}</button>

        </mat-menu>
      </div>
    </mat-card>

  </div>
</section>

<div class="paginator">

  <div class="paginator">
    <mat-paginator [length]="totalRecords" [pageSize]="recordsPerPage" [pageSizeOptions]="pageSizeOptions"
      (page)="paginatoryOperation($event)" showFirstLastButtons>
    </mat-paginator>

  </div>